<canvas id="axi_y" class="axis axi_all"></canvas>
<div id="axi_select" class="axi_all abutton ctrl" data-ctrl="select">
    <img alt="{{select}}" src="img/new/measure.png" />
</div>
<canvas id="axi_x" class="axis axi_all"></canvas>
<div id="axi_z_cont" class="axi_all">
    <div id="axi_z_up" data-ctrl="up" class="axi_all abutton ctrl">
        <img src="img/new/up.png" alt="{{up}}"/>
    </div>
    <canvas id="axi_z" class="axis axi_all"></canvas>
    <div id="axi_z_down" data-ctrl="down" class="axi_all abutton ctrl">
        <img src="img/new/down.png" alt="{{down}}"/>
    </div>
    <div id="axi_z_auto" class="abutton ctrl axi_all {{autoset}}" data-ctrl="auto">
        <img alt="{{auto}}" src="img/new/auto.png" />
    </div>
</div>