<div id="axi_y_cont" class="axi_all">
    <canvas id="axi_y" class="axis axi_all"></canvas>
    <div id="axi_y_text" data-ctrl="y_text" class="axi_all ctrl halfred" style="cursor:vertical-text"></div>
</div>
<div id="axi_select" class="axis axi_all ctrl" data-ctrl="select">
    <!--<img alt="{{select}}" src="img/measure.png" />-->
</div>
<div id="axi_x_cont" class="axi_all">
    <canvas id="axi_x" class="axis axi_all"></canvas>
    <div id="axi_x_text" data-ctrl="x_text" class="axi_all ctrl halfred" style="cursor:text"></div>
</div>
<div id="axi_z_cont" class="axi_all" >
    <canvas id="axi_z" class="axis axi_all"></canvas>
    <div id="axi_z_up" data-ctrl="up" class="axi_all ctrl" style="cursor:n-resize;"></div>
    <div id="axi_z_down" data-ctrl="down" class="axi_all ctrl" style="cursor:s-resize;"></div>
    <div id="axi_z_text" data-ctrl="units" class="axi_all ctrl halfred" style="cursor:vertical-text"></div>
</div>
    <div id="axi_z_auto" class="ctrl axi_all axis" data-ctrl="auto">
        <!--<img alt="{{auto}}" src="img/{{autoset}}.png" style="width: 100%;height:100%" />-->
    </div>
