<div id="leftp_logo" class="button" data-href="http://www.vscht.cz">
    <img id="leftp_logo_img" src="img/logoVSCHT_stred_NEGtext.png" alt="Logo VŠCHT Praha"/>
</div>
<!--<div class="leftp button" data-href="http://web.vscht.cz/hosekp">
    Personal webpage
</div>-->
<div class="leftp button" data-href="docs/user_cze.html" >
    Návod
</div>
<div class="leftp button" data-href="docs/dev_cze.html">
    Vývojářský manuál
</div>
<div class="leftp button" data-href="docs/licences.html">
    JavaScript Licence
</div>
<div class="leftp button" data-href="http://www.elixir-czech.cz">
    ELIXIR CZ
</div>
<div class="leftp button" data-href="http://www.plumed-code.org">
    PLUMED
</div>
<div class="leftp button" data-href="http://www.vscht.cz">
    VŠCHT Praha
</div>
<div id="leftp_counter">Navštíveno: {{count}} x</div>