<div id="leftp_logo" class="button" data-href="http://www.vscht.cz">
    <img id="leftp_logo_img" src="img/logoICT_center_NEGtext.png" alt="Logo ICT Prague"/>
</div>
<div class="leftp button" data-href="http://web.vscht.cz/hosekp">
    Personal webpage
</div>
<div class="leftp button" data-href="docs/licences.html">
    JavaScript Licenses
</div>
<div class="leftp button" data-href="http://www.vscht.cz">
    ICT Prague
</div>
<div class="leftp button" data-href="docs/user_eng.html" >
    How to use it
</div>
<div class="leftp button" data-href="docs/devman.html">
    Dev manual
</div>
<div id="leftp_counter">Visited: {{count}} x</div>