<div id="leftp_logo" class="button" data-href="http://www.vscht.cz/homepage/english/main/">
    <img id="leftp_logo_img" src="img/logoUCT_center_basic.png" alt="Logo ICT Prague"/>
</div>
<!--<div class="leftp button" data-href="http://web.vscht.cz/hosekp">
    Personal webpage
</div>-->
<div class="leftp button" data-href="https://docs.google.com/forms/d/13MTesy-1_VeQqDZtkePDML_E2u5Kwl1YOoczyWg7P_M/viewform" >
    Questionnaire
</div>
<div class="leftp button" data-href="docs/user_eng.html" >
    How to use it
</div>
<div class="leftp button" data-href="docs/dev_eng.html">
    Dev manual
</div>
<div class="leftp button" data-href="../metadyn_view.zip">
    Download program
</div>
<div class="leftp button" data-href="docs/licences.html">
    JavaScript Licenses
</div>
<div class="leftp_partners">Partners</div>
<div class="leftp button" data-href="http://www.elixir-czech.cz">
    ELIXIR CZ
</div>
<div class="leftp button" data-href="http://www.plumed-code.org">
    PLUMED
</div>
<div class="leftp button" data-href="http://www.vscht.cz/homepage/english/main/">
    UCT Prague
</div>
<div id="leftp_counter">Visited: {{count}} x</div>
<img class="elixir-logo" src="img/ELIXIR_CZECHREPUBLIC_endorsement_white_background.png" height="50" width="200">
