<a id="leftp_logo" class="button" href="http://www.vscht.cz/homepage/english/main/">
    <img id="leftp_logo_img" src="img/logoUCT_center_basic.png" alt="Logo ICT Prague"/>
</a>
<!--<a class="leftp button" href="http://web.vscht.cz/hosekp">
    Personal webpage
</a>-->
<a class="leftp button" href="https://docs.google.com/forms/d/13MTesy-1_VeQqDZtkePDML_E2u5Kwl1YOoczyWg7P_M/viewform" >
    Questionnaire
</a>
<a class="leftp button" href="docs/user_eng.html" >
    How to use it
</a>
<a class="leftp button" href="docs/dev_eng.html">
    Dev manual
</a>
<a class="leftp button" href="../metadyn_view.zip">
    Download program
</a>
<a class="leftp button" href="docs/licences.html">
    JavaScript Licenses
</a>
<div class="leftp_partners">Partners</div>
<a class="leftp button" href="http://www.elixir-czech.cz">
    ELIXIR CZ
</a>
<a class="leftp button" href="http://www.plumed-code.org">
    PLUMED
</a>
<a class="leftp button" href="http://www.vscht.cz/homepage/english/main/">
    UCT Prague
</a>
<div id="leftp_counter">Visited: {{count}} x</div>
<a href="http://www.elixir-czech.cz">
    <img class="elixir-logo" src="img/ELIXIR_CZECHREPUBLIC_endorsement_white_background.png" height="50" width="200">
</a>
