#settings_popup {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    top: 200px;
    z-index: 1000;
    border: 2px solid black;
    box-sizing: border-box;
    color: white;
    background-color: darkred;
}

#settings_popup_cont {
    border: 2px solid red;
}

#settings_popup_header {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: black;
}

#settings_popup_header h1 {
    margin: 0;
}

#settings_popup_body {
    padding: 20px;
    border: 2px solid black;
}

#settings_popup_close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.settings_option {
    margin-bottom: 5px;
    border-bottom: 1px solid #660000;
    padding-bottom: 5px;
}

#settings_popup_body label {
    display: inline-block;
    width: 150px;
}

#settings_popup input, #settings_popup select {
    width: 180px;
}
