#all{
    width:auto;
    height:600px;
}
#cont{
    width:600px;
    border: 1px solid black;
    margin-bottom: 200px;
    float:left;
}
.incont{
    width:100%;
}
#file_cont{
    background-color: #66ccff
}
#ctrl_cont{
    height:25px;
    background-color: black;
}
#slide_cont{
    height:25px;
    background-color: black;
}
#main_cont{
    height:450px;
    width:100%;
    position:relative;
}
#cons{
    /*float:left;*/
}
.ctrl{}
.left{
    float:left;
}
.right{
    float:right;
}
/*#resol_ctrl{
    height:25px;
    color:white;
    text-align: center;
    cursor: default;
}
#speed_ctrl{
    height:25px;
}*/
.unselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#tooltip{
    border:1px solid #ccc;
    background:white;
    position:absolute;
    z-index:200;
    padding:10px;
    left:0px;
    top:0px;
    display:none;
}
.axis{
    background-color: yellow;
}
.axi_all{
    position:absolute;
    /*float:left;*/
}
#canvas_cont{
    
}
.actrl{
    background-color: red;
}
.red{
    background-color: red;
}
#slide_cont{
    position:relative;
    width:100%;
    height:25px;
    background-color: black;
}
.ctrl.button{
    height: 21px;
    min-width: 21px;
    border-width: 2px;
    border-style: solid;
    margin-left:1px;
    margin-right:1px;
    /*padding:1px;*/
    background-color: red;
}
.ctrl.button,#ctrl_select{
    border-color: red;
}
.ctrl.button:hover{
    border-color: lightcoral;
}
.ctrl.button:hover:not(.text), #slider:hover, .abutton:hover{
    background-color: lightcoral;
}
.ctrl.on{
    background-color: yellow;
    border-color: yellow;
}
.ctrl.on:hover{
    background-color: white;
    border-color: white;
}
.ctrl.text{
    color:white;
    text-align: center;
    cursor: default;
    background-color: black;
    padding-left:2px;
    padding-right:2px;
}
.abutton{
    background-color: red;
}
.abutton img{
    width:calc(100% - 4px);
    width: -moz-calc(100% - 4px);
    width: -webkit-calc(100% - 4px);
    height:calc(100% - 4px);
    height: -moz-calc(100% - 4px);
    height: -webkit-calc(100% - 4px);
    margin: 2px;
}
#slide{
    width:calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    height:11px;
    top:7px;
    left:5px;
    position:absolute;
    background-color: darkred;
}
#slider{
    position:absolute;
    z-index: 10;
    width:16px;
    height:21px;
    border: 2px solid black;
    background-color: red;
    left:0px;
}
#ctrl_select{
    position:absolute;
    z-index:10;
    border-width:2px;
    /*border-top-width: 0px;*/
    border-style: solid;
    display:none;
    color:white;
    background-color: black;
    margin-top: 1px;
}
.sel{
    padding-left: 2px;
    padding-right: 2px;
    cursor: default;
/*    margin-left: 1px;
    margin-right: 1px;*/
}
.sel.on{
    background-color: yellow;
    color:black;
}
#stats{
    position:absolute;
    right:5px;
    top:5px;
}
.example{
    float:right;
}
