html{
}
body{
    position: relative;
}
#all{
    width:auto;
    /*height:1000px;*/
    position:relative;
    min-width: 1100px;
}
#cont{
    width:1000px;
    border: 1px solid black;
    margin-bottom: 200px;
    float:left;
}
.incont{
    width:100%;
}
#file_cont{
    /*background-color: #66ccff*/
    /*background-color: darkred;*/
    position:relative;
    background-color: black;
    /*height:25px;*/
    color:white;
    z-index:10;
    padding-top: 1px;
    padding-bottom: 2px;
}
#ctrl_cont{
    height:25px;
    background-color: black;
    position:relative;
}
#slide_cont{
    height:25px;
    background-color: black;
}
#main_cont{
    height:750px;
    width:100%;
    position:relative;
}
#cons{
    float:left;
    border:1px solid black;
    margin-left:5px;
    display:none;
    max-width:300px;
    overflow: auto;
    /*width:200px;*/
}
#middle_can_text{
    position:relative;
    top:45%
}
.ctrl{}
.left{
    float:left;
}
.right{
    float:right;
}
/*#resol_ctrl{
    height:25px;
    color:white;
    text-align: center;
    cursor: default;
}
#speed_ctrl{
    height:25px;
}*/
.unselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#canvas_cont{
    text-align: center;
}
.absolute{
    position:absolute;
}
.relative{
    position:relative;
}
#slide_cont{
    position:relative;
    width:100%;
    height:25px;
    background-color: black;
}
#stats{
    position:absolute;
    right:5px;
    top:5px;
}
.example{
    float:right;
}
#examples{
    border-bottom: 1px solid black;
    background: black;
    top:28px;
    right:0px;
}
#file_seld{
    padding: 2px;
    margin-left:5px;
}
#feed_cont{
    width:400px;
    border: 1px solid black;
    float:left;
}
.feed_note{
    width:100%;
}
.feed_note_author{
    font-size: 18px;
}
.feed_input{
    width:80%;
}
#feed_text{
    height:100px;
}
.feed_note_longtext{
    display: none;
}
.vertical{
    /*margin-bottom:0;margin-left:0;z-index:5;*/
    /* Safari */ -webkit-transform: rotate(-90deg); 
    /* Firefox */ -moz-transform: rotate(-90deg);
    -moz-transform-origin: 20px 0px;  
    /* Internet Explorer 8*/  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -ms-transform: rotate(0deg);
    /* opera*/ -o-transform: rotate(-90deg);  
    /* opera tmb*/ -o-transform-origin:150px 150px; 
}
#side{
    /*display:none;*/
    float:left;
    border:1px black solid;
    /*width:200px;*/
    /*height:400px;*/
}
.lclear{
    clear:left;
}
#measure_cont{
    background-color: black;
    color:white;
}
#measure_chills_button.on{
    color:black;
}
.measure_NESW{
    min-width:100px;
    text-align: center;
}
.nomargin{
    margin:0px;
}
.main_can{
    position:absolute;
    left:0px;
    top:0px;
}
.aux_can{
    position:absolute;
    left:0px;
    top:0px;
    z-index:5;
}
.elixir-logo{
    width: 186px;
    margin: 40px 7px 7px;
}
#export_modal{
    position: absolute;
    top:100px;
    left: 30%;
    right: 30%;
    width:40%;
    z-index: 600;
    background-color: black;
    border: 2px solid black;
    display: none;
}
#export_modal_inner{
    border: 2px solid red;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#export_modal_content{
    padding: 15px;
    color: white;
}
#export_modal_content a{
    color: white;
}
#export_modal_bottom{
    text-align: center;
}
#export_modal_close{
    border: 2px solid red;
    font-size: 20px;
    color: red;
    background-color: black;
    margin: 5px;
}

